<!DOCTYPE html>
<html>
<head>
	<title>Shophub | For All of Your Shopping Needs</title>
</head>
<body>
	<div>
		<div>
			<h1>
				Shophub
			</h1>
		</div>
		<div>
			<div>
				<h3>
					Organic Products Year Round
				</h3>
				<p>
					All of our products a verified by the USDA to ensure they meet organic standard
				</p>
			</div>
			<div>
				<h3>
					Award winning service
				</h3>
				<p>
					Friendist Employees around
				</p>
			</div>
			<div>
				<h2>
					Explore our Store
				</h2>
				<button>Explore</button>
			</div>
		</div>
	</div>
</body>
</html>